<h1>Social Codeing</h1>

<nav>
  <a class="button"
     routerLink="/student-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Students
  </a> |
  <a class="button"
     routerLink="/course-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Courses
  </a>
</nav>
<router-outlet></router-outlet>
<div>
  <footer class="footer">
    <div>{{apiVersion}}</div>
  </footer>
</div>
<div style="display: none;">


<nav>
  <a class="button" routerLink="/student-list">Students</a> |
  <a class="button" routerLink="/course-list">Courses</a>
</nav>


</div>

